<div class="flex items-center justify-center min-h-screen">
  <div class="bg-white p-6 rounded-2xl shadow">
    <a
      href="<%= authUrl %>"
      class="flex items-center gap-2 px-4 py-2 bg-white text-gray-700 border border-gray-300 rounded-lg hover:bg-gray-100 transition"
    >
      <img src="https://www.svgrepo.com/show/355037/google.svg" alt="Google Logo" class="w-5 h-5" />
      Đăng nhập với Google
    </a>
  </div>
</div>