<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title || "My App" %></title>
    <link rel="stylesheet" href="/css/output.css" />
  </head>
  <body class="bg-gray-100 min-h-screen">

    <!-- Header chung -->
    <%- include('../partials/header') %>

    <!-- Nội dung trang -->
    <main class="min-h-screen">
      <%- body %>
    </main>

    <!-- Footer chung -->
    <%- include('../partials/footer') %>

  </body>
</html>
